@import '../../sass/main.scss';

.EmptyFeedback {
	width: 100%;
	height: 37.5rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	&__image {
		width: 8.125rem;
		height: 8.5625rem;
	}

	&__title {
		font-size: 1.5rem;
		letter-spacing: -0.33px;
		font-weight: bold;
		color: $darkBlue1;
		padding-top: 2rem;
	}
	&__text {
		text-align: center;
		margin: 1rem 0rem;
		margin-bottom: 2.5rem;
		p {
			color: $lightBlueGray;
			font-size: 1rem;
		}
	}
}
