@import '../../sass/main.scss';

.User {
	height: 100%;
	// min-height: 100vh;
	width: 100%;
	display: flex;
	// justify-content: center;
	flex-direction: column;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	color: $darkBlue1;
	.flex-container {
		display: flex;
		width: 100%;
		height: fit-content;
		justify-content: space-between;
		// flex-direction: column;
	}

	&__logo {
		margin-bottom: 2rem;
	}

	&__welcome {
		font-weight: lighter;
		font-size: 1.7rem;
		padding-bottom: 2rem;
		color: $darkBlue1;
		span.bold {
			font-weight: bold;
		}
	}

	&__information {
		display: flex;
		flex-direction: column;
		width: 25%;
		height: 100%;

		// &--logo {

		// }
		&--details {
			height: 50%;
			width: 100%;

			.profileImg {
				background-color: #fff;
				display: flex;
				flex-direction: column;
				align-items: center;
				padding: 1.5rem 0;
				border-radius: 5px;
				position: relative;
				height: 100%;

				&__container {
					width: 150px;
					height: 150px;
					cursor: pointer;
					position: relative;
					margin-bottom: 1.3rem;

					img.profileImage {
						width: 100%;
						height: 100%;
						min-height: 100%;
						border-radius: 50%;
						object-fit: cover;
						-webkit-object-fit: cover;
					}
					&:hover {
						opacity: 0.85;
					}
				}
				.editImage {
					// margin-top: 1.3rem;
					text-transform: capitalize;
					border: none;
					background-color: $purple;
					font-size: 1rem;
					border-radius: 5px;
					padding: 0.5rem;
					color: $white;
					align-self: center;
					cursor: pointer;
					transition: background-color 0.1s ease-in-out;
					-webkit-transition: background-color 0.1s ease-in-out;
					display: flex;
					align-items: center;

					svg.editSvg {
						margin-right: 0.2rem;
						font-size: 0.9rem;
						color: white;
					}
					&:hover {
						background-color: lighten($color: $purple, $amount: 10%);
					}
				}
			}
			.userInfo {
				font-size: 1.1rem;
				padding: 1.5rem;
				padding-left: 2rem;
				height: fit-content;
				margin-top: 1rem;
				background-color: $white;
				border-radius: 5px;
				height: fit-content;
				display: flex;
				flex-direction: column;
				word-break: break-all;

				p {
					margin-bottom: 0.35rem;
					font-weight: 400;
					span {
						font-weight: 600;
						font-size: 1.2rem;
					}
				}
				button.editDetails,
				button.logoutBtn {
					margin-top: 1.8rem;
					text-transform: capitalize;
					border: none;
					background-color: transparent;

					font-size: 1rem;
					border-radius: 5px;
					padding: 0.5rem;
					color: $black;
					cursor: pointer;
					transition: background-color 0.1s ease-in-out;
					-webkit-transition: background-color 0.1s ease-in-out;
					display: flex;
					width: fit-content;
					justify-content: center;
					align-items: center;

					svg {
						margin-right: 0.2rem;
						font-size: 0.9rem;
						color: $black;
					}
				}
				button.editDetails {
					outline: 1px solid $darkBlue1;
					padding: 0.5rem 1rem;
					svg {
						margin-right: 0.3rem;
					}
					&:hover {
						background-color: lighten($color: $darkBlue1, $amount: 10%);
						color: $white;
						svg {
							color: $white;
						}
					}
				}
				button.logoutBtn {
					outline: 1px solid $red;
					padding: 0.5rem 1rem;
					&:active,
					&:hover {
						background-color: $red;
						color: $white;
					}
				}
			}
		}
	}

	&__userFeedbackList {
		height: fit-content;
		// margin-top: 9.4rem;
		width: 70%;
		padding-left: 2rem;
	}
}

@media screen and (max-width: 768px) {
	.User {
		flex-direction: column;
		justify-content: flex-start;

		.flex-container {
			flex-direction: column;
		}

		&__logo {
			margin-bottom: 1.3rem;
			button {
				margin-top: 1rem;
				margin-left: 1.5rem;
				margin-bottom: 0;
			}
		}

		&__welcome {
			text-align: center;
		}
		&__information {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;

			&--logo {
				width: 100%;
				// padding: 0;
				button {
					margin-top: 1.5rem;
					margin-left: 2.5rem;
				}
			}

			&--details {
				height: 50%;
				width: 70%;

				h2.welcomeMessage {
					font-weight: lighter;
					font-size: 1.7rem;
					padding-bottom: 1.5rem;
					span.bold {
						font-weight: bold;
					}
				}

				.profileImg {
					&__container {
						-webkit-tap-highlight-color: transparent;
					}
				}

				.userInfo {
					font-size: 1.1rem;
					padding: 1.5rem 2rem;

					height: fit-content;

					p {
						margin-bottom: 0.35rem;
						font-weight: 400;
						height: fit-content;
						display: flex;
						align-items: center;
						span {
							font-weight: 600;
							font-size: 1.2rem;
							margin-left: 0.25rem;
						}
					}
					button.editDetails {
						margin-top: 1.8rem;
						text-transform: capitalize;
						border: none;
						background-color: transparent;
						font-size: 1rem;
						border-radius: 5px;
						padding: 0.5rem 0.7rem;
						color: $darkBlue1;
						align-self: flex-start;
						cursor: pointer;
						transition: background-color 0.1s ease-in-out;
						-webkit-transition: background-color 0.1s ease-in-out;
						display: flex;
						align-items: center;

						svg {
							margin-right: 0.4rem;
							font-size: 0.9rem;
							color: $darkBlue1;
						}
					}
					button.logoutBtn {
						outline: 1px solid $red;
						padding: 0.5rem 1rem;
					}
				}
			}
		}
		&__userFeedbackList {
			width: 100%;
			height: 100%;
			margin: 0;
			padding: 0;
			padding: 0 1rem;

			h2 {
				text-align: center;
				padding: 2rem 0rem 0.8rem 0rem;
			}
			&--content {
				height: 100%;
				margin: 0;
				overflow-y: scroll;
			}
		}
	}
}
