@import '../../sass/main.scss';

.Details {
	width: 100%;
	// display: flex;
	max-width: 730px;
	margin: 0 auto;

	&__buttons {
		display: flex;
		justify-content: space-between;
		margin-top: 1rem;
		margin-bottom: 1.3rem;
		.back {
			border: none;
			background: none;
			a {
				color: $lightBlueGray;
				display: flex;
				align-items: center;
				font-size: 14px;
				font-weight: bold;

				svg {
					color: $blue;
					width: 16px;
					height: 12px;
					margin-right: 0.3rem;
				}
			}
		}

		.edit {
			font-weight: 600;
		}
	}
}

@media screen and (max-width: 768px) {
	.Details {
		padding: 0 1.5rem;
		&__buttons {
			margin: 0;
			margin-bottom: 1.5rem;
			padding-top: 1.5rem;
		}
	}
}
