@import '../../../sass/main.scss';

.Comment {
	width: 100%;
	height: fit-content;
	// border-bottom: 1px solid rgba(128, 128, 128, 0.301);
	margin-bottom: 2rem;
	position: relative;
	// z-index: 1;
	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		background-color: rgba(128, 128, 128, 0.301);
		width: 100%;
		height: 1px;
		// z-index: 1;
	}
	img {
		width: 40px;
		height: 40px;
		border-radius: 50vh;
		margin-right: 2rem;
	}

	&__userBar {
		display: flex;
	}
	&__usernames {
		display: flex;
		flex-wrap: wrap;
		.name {
			font-size: 0.875rem;
			color: $darkBlue1;
			text-transform: capitalize;
		}
		.username {
			font-size: 0.875rem;
			color: $lightBlueGray;
		}
	}

	&__buttons {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		width: 100%;
		-webkit-tap-highlight-color: rgba(255, 255, 255, 0);

		button {
			align-self: center;
		}
		.reply,
		.delete,
		.edit {
			border: none;
			font-size: 13px;
			background: none;
			font-weight: 600;
			text-transform: capitalize;
			cursor: pointer;

			&:hover {
				opacity: 0.5;
			}
		}
		button.reply {
			color: $blue;
		}
		button.delete {
			color: $red;
			border-radius: 5px;
		}
		button.edit {
			color: $darkBlue1;
			margin: 0 1.2rem;
		}
	}

	&__text {
		color: $lightBlueGray;
		font-size: 0.9375rem;
		padding-left: 4.5rem;
		padding-top: 1.0625rem;
		padding-bottom: 1.5rem;
	}

	// replies section inside comment component
	&__replies {
		position: relative;
		z-index: 1;
		margin-left: 1.25rem;
	}
}

@media screen and (max-width: 768px) {
	.Comment {
		padding: 0;
		position: relative;
		z-index: 102;
		&__userBar {
			position: relative;
			z-index: 20;

			// User profile image
			img {
				margin-right: 0.8rem;
				width: 40px;
				height: 40px;
				object-fit: cover;
			}
		}
		&__text {
			padding-left: 0.4rem;
		}

		&__replies {
			margin: 0;
			padding-left: 0.5rem;
		}

		&__buttons {
			.dropdownToggle {
				margin-left: 0.8rem;
				height: fit-content;
				width: fit-content;
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 0.3rem 0.3rem;
				transform-origin: center center;
				svg {
					width: 100%;
					height: 100%;
					transition: color 0.25s ease-in-out;
				}
				&::before {
					content: '';
					position: absolute;
					background-color: lighten($color: $lightBlueGray, $amount: 30%);
					border-radius: 100vw;
					width: 0px;
					height: 0px;
					transition: all 0.15s cubic-bezier(0.64, 0.57, 0.67, 1.53);
					transform-origin: center center;
				}

				&.active {
					svg {
						// transform: rotate(90deg);
						color: $white;
					}
					&::before {
						display: block;
						width: 100%;
						height: 100%;
					}
				}
				.toggleDropdown {
					color: $darkBlue1;
					font-size: 1rem;
					opacity: 0.9;
					z-index: 100;
				}
			}
			// .dropdown {
			// 	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
			// 	border-radius: 5px;
			// 	display: flex;
			// 	flex-direction: column;
			// 	position: absolute;
			// 	right: -1rem;
			// 	top: 2.425rem;
			// 	z-index: 101;
			// 	background-color: white;
			// 	button {
			// 		padding: 0.8rem 1.3rem;

			// 		&:active {
			// 			background-color: darken($color: $white, $amount: 20%);
			// 			color: $darkBlue1;
			// 		}
			// 		&:focus,
			// 		&:hover {
			// 			color: $darkBlue1;
			// 		}
			// 	}
			// 	button:first-of-type {
			// 		width: 100%;
			// 		border-bottom: 1px solid lighten($color: $darkBlue1, $amount: 60%);
			// 	}
			// }
		}
	}
}
