@import '../../../sass/main.scss';

.Comment {
	width: 100%;
	border-bottom: 1px solid rgba(128, 128, 128, 0.301);
	margin-bottom: 2rem;
	img {
		width: 40px;
		height: 40px;
		border-radius: 50vh;
		margin-right: 2rem;
	}

	&__userBar {
		display: flex;
	}
	&__usernames {
		display: flex;
		// flex-direction: column;

		flex-wrap: wrap;
		.name {
			font-size: 0.875rem;
			color: $darkBlue1;
			text-transform: capitalize;
			// flex-wrap: nowrap;
		}
		.username {
			font-size: 0.875rem;
			color: $lightBlueGray;
		}
	}

	&__buttons {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		width: 100%;
		button {
			align-self: center;
		}
		.reply,
		.delete {
			border: none;
			font-size: 13px;
			background: none;
			font-weight: 600;
			text-transform: capitalize;
			cursor: pointer;

			&:hover {
				opacity: 0.5;
			}
		}
		button.reply {
			color: $blue;
		}
		button.delete {
			color: $red;
			margin-left: 0.8rem;
			// background: red;
			// color: $white;
			// opacity: 0.8;
			padding: 0.2rem 0.4rem;
			border-radius: 5px;
		}
	}

	&__text {
		color: $lightBlueGray;
		font-size: 0.9375rem;
		padding-left: 4.5rem;
		padding-top: 1.0625rem;
		padding-bottom: 1.5rem;
	}

	// replies section inside comment component

	&__replies {
		position: relative;
		margin-left: 1.25rem;

		// &::before {
		// 	content: '';
		// 	position: absolute;
		// 	width: 1px;
		// 	height: 100%;
		// 	background: $lightBlueGray;
		// 	opacity: 0.2;
		// 	left: 0px;
		// 	// top: 0;
		// 	// bottom: 90px;
		// 	// bottom: 38%;
		// 	bottom: 10%;
		// }
	}
}

@media screen and (max-width: 768px) {
	.Comment {
		padding: 0;
		&__userBar {
			img {
				margin-right: 0.9rem;
			}
		}
		&__text {
			padding-left: 0rem;
			// padding: 0;
		}

		&__replies {
			margin: 0;

			// &::before {
			// 	height: 75%;
			// 	bottom: 25%;
			// 	// top: 50%;
			// }
		}
	}
}
