@import '../../../sass/main.scss';

.Comment {
	width: 100%;
	border-bottom: 1px solid rgba(128, 128, 128, 0.301);
	margin-bottom: 2rem;
	img {
		width: 40px;
		height: 40px;
		border-radius: 50vh;
		margin-right: 2rem;
	}

	&__userBar {
		display: flex;
	}
	&__usernames {
		display: flex;
		flex-wrap: wrap;
		.name {
			font-size: 0.875rem;
			color: $darkBlue1;
			text-transform: capitalize;
		}
		.username {
			font-size: 0.875rem;
			color: $lightBlueGray;
		}
	}

	&__buttons {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		width: 100%;
		svg {
			color: $black;
		}
		button {
			align-self: center;
		}
		.reply,
		.delete,
		.edit {
			border: none;
			font-size: 13px;
			background: none;
			font-weight: 600;
			text-transform: capitalize;
			cursor: pointer;

			&:hover {
				opacity: 0.5;
			}
		}
		button.reply {
			color: $blue;
		}
		button.delete {
			color: $red;
			border-radius: 5px;
		}
		button.edit {
			color: $darkBlue1;
			margin: 0 1.2rem;
		}
	}

	&__text {
		color: $lightBlueGray;
		font-size: 0.9375rem;
		padding-left: 4.5rem;
		padding-top: 1.0625rem;
		padding-bottom: 1.5rem;
	}

	// replies section inside comment component
	&__replies {
		position: relative;
		margin-left: 1.25rem;
	}
}

@media screen and (max-width: 768px) {
	.Comment {
		padding: 0;
		&__userBar {
			img {
				margin-right: 0.9rem;
			}
		}
		&__text {
			padding-left: 0.4rem;
		}

		&__replies {
			margin: 0;
			padding-left: 0.7rem;
		}
	}
}
