@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;700&family=Jost:wght@300;400;500;600;700&family=Nunito+Sans:wght@300;600;800&display=swap');
// Colors
$purple: hsl(282, 83%, 52%);
$blue: hsl(230, 76%, 59);
$red: hsl(0, 67%, 53%);
$orange: hsl(14, 83%, 74%);
$skyBlue: hsl(204, 94%, 68%);
$white: hsl(0, 0%, 100%);
$lightGray: hsl(231, 100%, 97%);
$darkGray: hsl(231, 49%, 87%);
$darkBlue1: hsl(230, 31%, 31%);
$darkBlue2: hsl(231, 33%, 34%);
$lightBlueGray: hsl(224, 20%, 49%);
$inputGray: hsl(230, 60%, 98%);
$inputGray2: hsl(230, 60%, 97%);
$green: hsl(139, 100%, 42%);

//Font
$fontMain: 'Jost', sans-serif;
