@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;700&family=Jost:wght@300;400;500;600;700&family=Nunito+Sans:wght@300;600;800&display=swap');
.CommentSection {
	background: #fff;
	border-radius: 5px;
	padding: 1rem 2.125rem;
}
.CommentSection svg {
	width: 50px;
}
.CommentSection__count {
	color: #373f68;
	font-size: 1.225rem;
	padding-bottom: 1.75rem;
}
@media screen and (max-width: 768px) {
	.CommentSection {
		padding: 0;
		padding: 1rem 1.5rem;
	}
}
