@import '../../sass/main.scss';

.CommentSection {
	background: $white;
	border-radius: 5px;
	padding: 1rem 2.125rem;
	position: relative;
	z-index: 1;
	svg {
		// width: 50px;
	}
	&__count {
		color: $darkBlue1;
		font-size: 1.225rem;
		padding-bottom: 1.75rem;
	}
	&__comments {
		position: relative;
		z-index: 1;
	}

	.EditForm {
		display: flex;
		flex-direction: column;

		&__input {
			border: none;
			border-radius: 5px;
			background-color: $lightGray;
			// padding-top: 0.3rem;
			padding-bottom: 2rem;
			padding-left: 0.4rem;
			margin-top: 0.70625rem;
			padding-top: 0.35rem;
			color: $lightBlueGray;
			font-size: 0.9375rem;
			// padding-left: 4.5rem;
			// padding-top: 1.0625rem;
			// padding-bottom: 1.5rem;

			&:focus {
				outline: 1px solid $blue;
			}
		}

		button {
			margin-top: 1rem;
			&:last-of-type {
				margin-bottom: 1rem;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.CommentSection {
		// padding: 0rem 2.1rem;
		padding: 0;
		padding: 1rem 1.5rem;
		padding-bottom: 2rem;
	}
}
