@import '../../sass/main.scss';

.EditFeedbackForm {
	background: $white;
	position: relative;
	padding: 0 2.625rem;
	padding-top: 3.25rem;
	border-radius: 10px;
	z-index: 99;

	.backButton {
		margin-bottom: 40px;
		margin-top: 30px;
		.back {
			cursor: pointer;
			border: none;
			background: none;

			color: $lightBlueGray;
			display: flex;
			align-items: center;
			font-size: 14px;
			font-weight: bold;

			svg {
				color: $blue;
				width: 16px;
				height: 12px;
				margin-right: 0.3rem;
			}
		}
	}
	&__title {
		color: $darkBlue2;
	}

	&__image {
		width: 56px;
		height: 56px;
		position: absolute;
		top: -28px;
		left: 42px;
	}

	.Form__group--buttons {
		margin: 0;
		display: flex;
		justify-content: space-around;
		.btn-red {
			margin-right: auto;
			// justify-self: flex-start;
		}

		button:nth-child(2) {
			margin-right: 1rem;
		}

		.btn-darkBlue {
			margin-right: 0rem;
		}
	}

	textarea {
		border: none;
		background: $lightGray;
		width: 100%;
		padding: 1rem 2rem;
		margin-bottom: 1rem;
		outline: none;
		border-radius: 10px;

		&::placeholder {
			opacity: 0.8;
		}

		&:focus {
			outline: 1px solid $blue;
		}
	}
}

@media screen and (max-width: 768px) {
	.EditFeedbackForm {
		margin-top: 55px;
		.Form {
			padding-bottom: 2rem;
			textarea {
				// padding: 0;
				padding-left: 1rem;
				padding-top: 0.8rem;
			}
			&__group--buttons {
				// justify-content: center;
				flex-direction: column-reverse;
				padding: 0;
				padding-bottom: 1rem;
				.btn {
					margin: 0;

					&-darkBlue {
						margin: 1rem 0;
					}
				}
			}
		}
	}
}
