@import '../../sass/main.scss';
.Modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.267);
	display: none;
	color: $darkBlue2;
	z-index: 50;

	&__content {
		border-radius: 5px;
		padding: 2rem;
		background-color: $white;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		h3 {
			margin-bottom: 1.5rem;
		}

		.buttons {
			display: flex;
			justify-content: space-around;
			width: 100%;

			.btn {
				padding: 0.7rem 2.5rem;
				transition: all 0.2s ease-in-out;

				&:hover {
					opacity: 0.8;

					&:active {
						box-shadow: inset 0px 0px 10px 5px hsla(0, 0%, 0%, 0.3);
						transform: translateY(3.5px);
					}
				}
			}
			.btn-red {
				margin: 0;
				z-index: 49;
				&:hover {
					opacity: 0.8;

					&:active {
						box-shadow: inset 0px 0px 10px 5px hsla(0, 0%, 0%, 0.3);
						transform: translateY(3.5px);
					}
				}
			}
		}
	}

	&.active {
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 0.5s ease-in-out;
	}
}

@media screen and (max-width: 768px) {
	.Modal {
		z-index: 101;
		&__content {
			padding: 0;
			padding: 1.5rem;
			padding-top: 1rem;
			text-align: center;
			height: fit-content;
			width: 85%;
			word-break: break-word;
			h3 {
				word-wrap: break-word;
				font-size: 1.2rem;
				padding-bottom: 0.5rem;
				padding-top: 0.5rem;
			}
			.buttons {
				display: flex;
				flex-direction: column;
				.btn {
					padding: 0.7rem 1.8rem;
					margin: 0;
				}
				.btn-red,
				.btn-blue {
					margin-left: 0rem;
					margin-top: 1.3rem;
				}
			}

			.passwordForm {
				display: flex;
				flex-direction: column;

				label {
					text-align: left;
					color: $lightBlueGray;
				}

				input {
					padding: 0.3rem;
					border-radius: 5px;
					border: none;
					outline: 1px solid darken($color: $darkGray, $amount: 10%);
					margin-bottom: 0.5rem;
					&:last-of-type {
						margin-bottom: 2rem;
					}

					&:focus {
						outline: 1px solid $blue;
					}

					&::placeholder {
						opacity: 0.5;
						padding-left: 0.3rem;
					}
				}
			}
		}
	}
}
