@import '../../../sass/main.scss';

.AddComment {
	width: 100%;
	padding: 0 2.125rem;
	padding-bottom: 2rem;
	margin-top: 1.5rem;
	background: $white;

	&__title {
		font-size: 18px;
		color: $darkBlue1;
		letter-spacing: -0.25px;
		font-weight: bold;
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
	}

	textarea {
		border: none;
		background: $inputGray;
		width: 100%;
		padding: 1rem 2rem;
		margin-bottom: 1rem;
		outline: none;
		border-radius: 10px;

		&::placeholder {
			opacity: 0.8;
		}

		&:focus {
			outline: 1px solid $blue;
		}
	}

	&__bottom {
		width: 100%;
		display: flex;
		align-items: center;
		// justify-content: center;
		span.letterCount {
			color: $lightBlueGray;
			font-size: 15px;
			margin-right: auto;
		}
	}
}

@media screen and (max-width: 768px) {
	.AddComment {
		padding: 0;

		&__title {
			padding-top: 0;
		}

		textarea {
			height: 80px;
			padding: 0;
			padding-left: 1rem;
			padding-top: 0.7rem;
		}
		&__bottom {
			.letterCount {
				flex: 100%;
				margin-right: 5rem;
			}

			.btn-purple {
				// align-self: flex-end;
				// width: fit-content;
				margin-left: 0rem;
				padding: 0;
				padding: 0.7rem 0.9rem;
			}
		}
	}
}
