@import '../../sass/main.scss';

.Header {
	display: flex;
	justify-content: space-between;
	width: 50%;
	margin: 0 auto;
	ul {
		list-style: none;
	}
}

@media screen and (max-width: 768px) {
	.Header {
		display: none;
	}
}
