@import '../../sass/main.scss';
.RoadmapPage {
	width: 100%;
	padding: 2rem 100px;
	padding-top: 0;
	border-radius: 10px;

	&__content {
		display: flex;
		width: 100%;
		padding-top: 0.5rem;
		padding-left: 0.3rem;
		gap: 1rem;

		.plannedList,
		.in-progressList,
		.liveList {
			flex: 33%;
		}
	}

	.headers {
		display: flex;
		width: 100%;
		margin-left: 0.5rem;
		padding-top: 2rem;
		&__item {
			flex: 33%;
			h4 {
				color: $darkBlue2;
				font-size: 1.125rem;
				padding-bottom: 0.1rem;
			}
			span.description {
				font-size: 1rem;
				color: $lightBlueGray;
			}
		}
	}

	.mobileHeaders {
		display: none;
	}
}

@media screen and (max-width: 768px) {
	.RoadmapPage {
		padding: 0;
		margin: 0;
		height: 100%;
		width: 100%;
		&__content {
			gap: 0;
			padding: 0;

			.list {
				padding: 0 1rem;
				width: 100%;
			}
			.plannedList,
			.in-progressList,
			.liveList {
				display: none;

				&.active {
					display: block;
				}
			}
		}
		.headers {
			display: flex;
			width: 100%;
			justify-content: space-around;
			align-items: center;
			padding: 0;
			margin: 0;
			transition: all 0.2s ease-in-out;

			&__item {
				display: grid;
				place-content: center;
				padding: 1rem 0;
				h4 {
					color: $lightBlueGray;
					opacity: 0.5;
					font-size: 14px;
				}
				span.description {
					display: none;
				}

				&.orange.active,
				&.purple.active,
				&.blue.active {
					display: grid;
					h4 {
						color: $darkBlue2;
						opacity: 1;
						padding-top: 4px;
					}
				}

				&.orange.active {
					border-bottom: 4px solid $orange;
				}
				&.purple.active {
					border-bottom: 4px solid $purple;
				}
				&.blue.active {
					border-bottom: 4px solid $skyBlue;
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.RoadmapPage {
		// padding: 0;
		&__content {
			transition: all 0.5s ease-in-out;
			.plannedList {
				padding-top: 0rem;
				transition: all 0.2s ease-in-out;
				.list {
					transition: all 0.2s ease-in-out;
				}
			}
		}

		.mobileHeaders {
			padding-left: 1.375rem;
			padding-top: 1.3rem;
			padding-bottom: 0.5rem;
			h2 {
				text-transform: capitalize;
				color: $darkBlue2;
				font-size: 1.125rem;
			}
			.description {
				color: $lightBlueGray;
				font-size: 0.8525rem;
			}
		}
	}
}
