@import '../../sass/main.scss';

.Edit {
	max-width: 33.75rem;
	margin: 0 auto;

	&__backButton {
		margin-bottom: 55px;
		padding-top: 34px;
		.back {
			border: none;
			background: none;
			a {
				color: $lightBlueGray;
				display: flex;
				align-items: center;
				font-size: 14px;
				font-weight: bold;

				svg {
					color: $blue;
					width: 16px;
					height: 12px;
					margin-right: 0.3rem;
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.Edit {
		padding: 0 1.5rem;
		padding-bottom: 1.5rem;
		&__backButton {
			padding-top: 25px;
			margin-bottom: 2.5rem;
		}

		.EditFeedbackForm {
			margin-top: 0;
		}
	}
}
