@import '../../../sass/main.scss';

.SuggestionsHeader {
	display: flex;
	align-items: center;
	background: $darkBlue2;
	color: $white;
	width: 100%;
	padding: 1rem;
	padding-right: 1rem;
	padding-left: 2rem;
	border-radius: 10px;
	&__total {
		display: flex;
		align-items: center;

		h2 {
			font-size: 18px;
			margin-right: 1.5rem;
			span.suggestionCount {
				padding-right: 0.5rem;
			}
		}
		svg {
			width: 30px;
			height: 30px;
			padding-right: 0.4rem;
		}
	}

	&__sort {
		display: flex;
		align-items: center;
		// cursor: pointer;

		span {
			padding-right: 0.5rem;
		}
		button {
			display: flex;
			align-items: center;
			border: none;
			background: none;
			color: $white;
			font-weight: bold;
			cursor: pointer;
			svg {
				margin-left: 0.2rem;
				margin-top: 0.2rem;
			}
		}
	}

	.btnLink {
		margin-left: auto;
	}

	// roadmap page
	.Roadmap__header {
		.back {
			border: none;
			background: none;
			a {
				color: $white;
				display: flex;
				align-items: center;
				font-size: 14px;
				font-weight: bold;

				svg {
					color: $white;
					width: 16px;
					height: 12px;
					margin-right: 0.3rem;
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.SuggestionsHeader {
		border-radius: 0px;
	}
}
@media screen and (max-width: 550px) {
	.SuggestionsHeader {
		&__total {
			display: none;
		}
	}
}
